{% extends "myvieal/entrance.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}">{% endblock style %}

{% block header %}パスワードリセット{% endblock header %}

{% block main %}
<form method="post" action="{% url "password_reset_done" %}">
  {% csrf_token %}
  <div class="message">
    {{ email }}に数字４ケタの認証コードを送信しました。<br>下のテキストボックスに記入してください。
  </div>
  <div class="form-group">
    <input type="text" name="verification_code" placeholder="認証コード(４ケタ)" required>
  </div>
  <div class="message resend">メールが届きませんか？<a href="" id="postLink">再送する</a></div>
  <div class="error_container">
    {% for field in form %}
    {{ field.errors }}
    {% endfor %}
    {{ form.non_field_errors }}
  </div>
  <button type="submit"><div>認証してパスワード登録に進む</div></button>
</form>
<div class="message resend cancel"><a href="{% url "account_login" %}" style="text-align: center; font-size: medium;"><p>キャンセル</p></a></div>
{% endblock main %}

{% block footer %}{% endblock footer %}
