{% extends "myvieal/entrance.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}">{% endblock style %}

{% block header %}パスワードリセット{% endblock header %}

{% block main %}
<form method="post" action="{% url "password_reset_done" %}">
  {% csrf_token %}
  <div class="message">
    {{ email }}に数字４ケタの認証コードを送信しました。<br>下のテキストボックスに記入してください。
  </div>
  <div class="form-group">
    <input type="text" name="verification_code" placeholder="認証コード(４ケタ)" required>
  </div>
  <div class="message resend">メールが届きませんか？<a href="{% url "resend_password" %}" id="postLink">再送する</a></div>
  <div class="error_container" id="parent">
    {% if post_success %}
    <div class="errorlist" id="marker">メールを再送しました。</div>
    {% endif %}
    {% for field in form %}
    {{ field.errors }}
    {% endfor %}
    {{ form.non_field_errors }}
  </div>
  <button type="submit"><div>認証してパスワード登録に進む</div></button>
</form>
<div class="message resend cancel"><a href="{% url "account_login" %}" style="text-align: center; font-size: medium;"><p>キャンセル</p></a></div>
{% endblock main %}

{% block footer %}
  <script nonce="{{request.csp_nonce}}">
    let last_click_time = new Date();
    document.getElementById('postLink').addEventListener('click', function(event) {
      event.preventDefault();
      const current_time = new Date();
      if (document.getElementById('marker')) {
        document.getElementById('marker').remove();
      }
      if ((current_time - last_click_time) < 12000) {
        const parent = document.getElementById('parent');
        const div = document.createElement('div');
        div.textContent = 'しばらく待ってからもう一度お試しください。';
        div.classList.add('errorlist');
        div.id = 'marker';
        parent.appendChild(div);
      } else {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '{% url "resend_password" %}';
        form.innerHTML = '{% csrf_token %}';
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'key';
        input.value = 'value';
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
        last_click_time = new Date();
      }
    });
  </script>
  {% endblock footer %}

