{% extends "myvieal/entrance.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}">
<style>footer > div { margin-top: 35px; }</style>
{% endblock style %}

{% block header %}アカウント作成{% endblock header %}

{% block main %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    {{ form.username }}
  </div>
  <div class="form-group">
    {{ form.email }}
  </div>
  <div class="form-group">
    {{ form.password1 }}
  </div>
  <div class="form-group">
    {{ form.password2 }}
  </div>
  <div class="checkbox">
    <input type="checkbox" name="privacy-policy" required>
    <label for="privacy-policy"><a href="">利用規約</a>と<a href="">プライバシーポリシー</a>に同意する</label>
  </div>
  <div class="error_container">
    {% for field in form %}
    {{ field.errors }}
    {% endfor %}
    {{ form.non_field_errors }}
  </div>
  <button type="submit"><div>認証コードを送信</div></button>
  <div class="message resend">アカウントをすでにお持ちですか？<a href="{% url "account_login" %}">ログイン</a></div>
</form>
{% endblock main %}
