{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myvieal</title>
  <link rel="stylesheet" href="{% static 'myvieal/css/base.css' %}">
  {% block extra-style %}{% endblock extra-style %}
</head>
<body>
    {% block header %}
    <header class="header">
        <div class="header-container">
            {% block header-container %}
              <a href="" class="header-container__title">myvieal</a>
              <a href="" class="header-container__new-video"><img src="{% static 'myvieal/img/new_video.svg' %}"></a>
            {% endblock header-container %}
        </div>
    </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    <footer class="footer">
        <div class="footer-container">
          <div class="footer-container__item">
            <a href="" class="footer-item__link">
                <span class="footer-item__icon">{% block footer-item__icon--home %}<img src="{% static 'myvieal/img/home.svg' %}">{% endblock footer-item__icon--home %}</span>
                <span class="footer-item__text">ホーム</span>
            </a>
          </div>
            <div class="footer-container__item">
                <a href="" class="footer-item__link">
                    <span class="footer-item__icon">{% block footer-item__icon--search %}<img src="{% static 'myvieal/img/search.svg' %}">{% endblock footer-item__icon--search %}</span>
                    <span class="footer-item__text">検索</span>
                </a>
            </div>
            <div class="footer-container__item">
              <a href="{% url "following" %}" class="footer-item__link">
                  <span class="footer-item__icon">{% block footer-item__icon--following %}<img src="{% static 'myvieal/img/following.svg' %}">{% endblock footer-item__icon--following %}</span>
                  <span class="footer-item__text">フォロー中</span>
              </a>
            </div>
            <div class="footer-container__item">
                <a href="" class="footer-item__link">
                    <div class="footer-item__icon">{% block footer-item__icon--account %}<img src="{% static 'myvieal/img/account.svg' %}">{% endblock footer-item__icon--account %}</div>
                    <div class="footer-item__text">アカウント</div>
                </a>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>
</html>
