{% extends "myvieal/base.html" %}
{% load static %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'myvieal/css/create.css' %}">
{% endblock %}

{% block header-container %}
  <a href="{% url 'top' %}" class="top">×</a>
  <h3>動画の投稿</h3>
  <button type="submit" form="form_js" class="btn--just-text submit_js">投稿</button>
{% endblock %}

{% block content %}
<main>
  <form action="" method="POST" enctype="multipart/form-data" id="form_js">
    {% csrf_token %}

    <div class="thumbnail">
      <div class="icon-container">
        <label for="image-input"><img src="{% static 'myvieal/img/image.svg' %}" alt="" class="fa-image"></label>
      </div>
      <input type="file" class="extra_293" id="image-input" name="thumbnail" accept="image/*">
      <img class="thumbnail-preview extra_293">
    </div>

    <div class="movie">
      <p>動画ファイル <span class="requirement">必須</span></p>
      <input type="file" class="extra_293" id="file-input" name="movie_file" accept="video/mp4, video/webm, video/ogg"required>
      <div class="button-container">
        <label for="file-input" class="movie-select" id="movie-select-btn">動画を選択</label>
      </div>
      <div class="video-preview-container">
        <video class="video-preview extra_293" autoplay loop muted><p>videoが利用できません。</p></video>
        <button type="button" id="video-preview__delete-btn" class="video-preview__delete-btn extra_293">×</button>
        <div id="video-preview__duration" class="video-preview__duration extra_293"></div>
      </div>

    </div>

    <div class="title">
      <p>タイトル <span class="requirement">必須</span><span class="title-length">0/50</span></p>
      <textarea name="title" required placeholder="タイトルを入力"></textarea>
    </div>

    <div class="explanation">
      <p>詳細文 <span class="requirement">必須</span><span class="explanation-length">0/500</span></p>
      <textarea name="explanation" required placeholder="詳細文を入力"></textarea>
    </div>

    <div class="tag">
      <p>タグ <span class="requirement">必須</span></p>
      <div class="tag_input">
        <div class="tag_select_wrapper">
          <input type="text" name="hidden_value">
          <p class="tag_input_text">#タグを入力</p>
        </div>
        <div class="genre_list">
          {% for value, display in genre %}
            <p class="display" id="{{value}}">{{display}}</p>
          {% endfor %}
        </div>
        <div class="tag_list"></div>
        <img class="tag_create_button" src={% static "myvieal/img/plus.svg" %} alt="" width="16px">
      </div>
    </div>

    <div class="location">
      <p>位置情報 <span class="requirement">必須</p>
      <div class="address"><img src="{% static 'myvieal/img/pin.svg' %}" alt=""><input name="name" id="pac-input" placeholder="スポット" required></div>
      <input  name="place_id" id="place_id" hidden>
      <input name="address" id="address" hidden>
    </div>
    <button type="submit" class="btn btn-primary submit_js">投稿</button>
    {% for field in form %}
    {{ field.errors }}
    {% endfor %}
    {{ form.non_field_errors }}
  </form>
  <dialog id="modalDialog" class="dialog">
    <div id="dialog_container">
      <h2>タグの新規作成</h2>
      <form id="tag_create_form" method="post">
        {% csrf_token %}
        <input type="text" name="name" id="tag_create_text" placeholder="タグを作成">
        <select name="genre" id="">
          {% for value, display in genre %}
          <option value="{{value}}">{{display}}</option>
          {% endfor %}
        </select>
        <div id="button_container">
          <div class="cancel_button">キャンセル</div>
          <button type="submit">作成</button>
        </div>
      </form>
    </div>
  </dialog>
  <div class="image_url_indicator" url="{% static "myvieal/img/キャンセルボタン黒.svg" %}"></div>
</main>
<script src="{% static 'myvieal/js/create.js' %}"></script>
<script src="{% static 'myvieal/js/prevent_multiple_submission.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzXcKAR-A9HDXwBfXemgidpzqKMq7wiBk&callback=initMap&libraries=places&v=weekly" async defer></script>
{% endblock %}

{% block footer %}
{% endblock %}
