{% extends "myvieal/base.html" %}
{% load static %}
{% load myvieal_extras %}

{% block extra-style %}
  <link rel="stylesheet" href="{% static 'myvieal/css/detail.css' %}">
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <video src="{{ movie.movie_file.url }}" controls autoplay type="video/mp4"></video>
  </div>
  <div class="overview">
    <div class="title">{{ movie.title }}</div>
    <div class="information">{{ movie.number_of_views }}回視聴・{{ movie.created_at|timesince|upto:',' }}前・{{ movie.created_at }}</div>
    <div class="tags">
      {% for tag in movie.tag_list.all %}
          <span class="tag">#{{ tag.name }}</span>
      {% endfor %}
    </div>
    {% if movie.name %}
    <div class='address-information'>
      <img src="{% static 'myvieal/img/pin.svg' %}" class='pin'>
      <p class='address-name-name'>{{ movie.name }}</p>
    </div>
    {% endif %}
    <div class="favorite-container">
      <button type="button" id="favorite-btn" class="favorite-btn">
        {% if is_favorite %}
        <img src="{% static "myvieal/img/favorite_fill.svg" %}" alt="いいねボタン" id="favorite-btn__image">
        {% else %}
        <img src="{% static "myvieal/img/favorite.svg" %}" alt="いいねボタン" id="favorite-btn__image">
        {% endif %}
      </button>
      <span id="favorite_count">{{ like_count }}</span>
    </div>
    {% if movie.created_by == user %}
    <a href="{% url 'Profile' movie.created_by.id %}" class="creater">
      <div class="icon"><img src="{{ movie.created_by.icon_image.url }}" alt=""></div>
      <div class="createrName">{{ movie.created_by.username }}</div>
    </a>
    {% else %}
    <div class="creater-container">
      <a href="{% url 'Profile' movie.created_by.id %}" class="creater">
        <div class="icon"><img src="{{ movie.created_by.icon_image.url }}" alt=""></div>
        <div class="createrName">{{ movie.created_by.username }}</div>
      </a>
        {% if is_following %}
        <button type="button" class="follow-btn follow-btn--following">フォロー中</button>
        {% else %}
        <button type="button" class="follow-btn">フォロー</button>
        {% endif %}
      </div>
    {% endif %}

    <div class="description">{{ movie.explanation }}</div>
    <span class="detail">...もっと見る</span>
  </div>
  <div class="send_section">
    <div class="creater" style="border-bottom: none;">
      <div class="icon" style="align-items: baseline;"><img src="{{ user.icon_image.url }}" alt=""></div>
      <form method="POST" class="comment_form" id="form">
      {% csrf_token %}
      {{ form.content }}
      <button type="submit" id="submit"><img src="{% static "myvieal/img/send_message.svg" %}" alt="send"></button>
      </form>
    </div>
  </div>
  <div class="comment_section">
    {% for comment in comments %}
      {% if comment.parent %}
      {% else %}
      <div>
        <div class="creater2 form_expander">
          <div class="icon" style="align-items: baseline;"><img src="{{ comment.commented_by.icon_image.url }}" alt=""></div>
          <div class="comment_container">
            <div>
              <div class="description description2">{{ comment.content|linebreaksbr }}</div>
              <span class="detail detail2 stopper">...もっと見る</span>
              <div class="commented_at">{{ comment.commented_at|timesince|upto:',' }}前</div>
            </div>
          </div>
        </div>
        <div class="creater invisible_reply" style="border-bottom: none;">
          <form method="POST" action="{% url "reply" comment.pk %}" class="comment_form reply_form_class">
            {% csrf_token %}
            <textarea name="content" cols="" rows="1" placeholder="返信する" auto_complete="off" required class="reply_textarea reply_form" style="margin-left: 8px;"></textarea>
            <button type="submit"><img src="{% static "myvieal/img/send_message.svg" %}" alt="send"></button>
          </form>
        </div>
        {% if comment.comment_set.all %}
          <div style="transform: translateY(-8px); margin-bottom: -8px;">
            <div style="padding-bottom: 15px; transform: translateX(0.5em);" class="reply_expander">
              <span style="color: #2b8f38;">{{ comment.count }}件の返信を見る</span>
            </div>
            <div class="invisible_reply">
            {% for child in comment.comment_set.all %}
              <div class="creater2" style="padding-bottom: 21.5px;">
                <div class="icon" style="align-items: baseline;">
                  <img src="{{ child.commented_by.icon_image.url }}" alt="" style="width: 42px; height: 42px; transform: translateX(4px);">
                </div>
                <div class="comment_container">
                  <div style="font-size: 86%;">
                    <div class="description description2">{{ child.content|linebreaksbr }}</div>
                    <span class="detail detail2">...もっと見る</span>
                    <div class="commented_at" style="font-size: 86%; right: 0.344%; bottom: -1.8em;">{{ child.commented_at|timesince|upto:',' }}前</div>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</main>
<script>
  {% if movie.created_by == user %}
  const createdSelf = true
  {% else %}
  const createdSelf = false
  {% endif %}

  const followBtnUrl = "{% url "follow_button" %}"
  const targetUserPk = {{ movie.created_by.pk }}
  const favoriteBtnUrl = "{% url "favorite_button" %}"
  const targetMoviePk = {{ movie.pk }}
  const favoriteSrc = "{% static 'myvieal/img/favorite.svg' %}"
  const favoriteFillSrc = "{% static "myvieal/img/favorite_fill.svg" %}"
</script>
<script src="{% static 'myvieal/js/detail.js' %}"></script>
{% endblock %}
