<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% load static %}">
  <link rel="stylesheet" href="{% static 'myvieal/css/detail.css' %}">
  <title>Document</title>
</head>
<body>
<header></header>
<main>
  <div class="container">
    <video src="{{ movie.movie_file.url }}" autoplay muted type="video/mp4"></video>
  </div>
  <div class="overview">
    <div class="title">{{ movie.title }}</div>
    <div class="information">{{ movie.number_of_views }}回視聴・{{ movie.created_at|timesince }} ago</div>
    <div class="creater">
      <div class="icon"></div>
      <div class="createrName">{{ movie.created_by.username }}</div>
    </div>
    <div class="description">{{ movie.explanation }}</div>
    <span class="detail">...もっと見る</span>
  </div>
</main>
<script src="{% static 'myvieal/js/detail.js' %}"></script>
</body>
</html>
