{% extends "myvieal/base.html" %}
{% load static %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'myvieal/css/edit.css' %}">
{% endblock %}

{% block header-container %}
  <a href="{% url 'top' %}" class="top">×</a>
  <h3>動画の編集</h3>
  <a href="{% url 'MovieDelete' movie.pk %}" class="delete">削除</a>
{% endblock %}

{% block content %}
<main>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="thumbnail">
      <div class="icon-container">
        <label for="image-input"><img src="{% static 'myvieal/img/image.svg' %}" alt="" class="fa-image"></label>
      </div>
      <input type="file" class="extra_293" id="image-input" name="thumbnail">
      {% if object.thumbnail %}
      <img class="thumbnail-preview" src="{{ object.thumbnail.url }}">
      {% else %}
      <img class="thumbnail-preview extra_293">
      {% endif %}
    </div>

    <div class="title">
      <p>タイトル <span class="requirement">必須</span><span class="title-length">0/50</span></p>
      <textarea name="title" required>{{ object.title }}</textarea>
    </div>

    <div class="explanation">
      <p>詳細文 <span class="requirement">必須</span><span class="explanation-length">0/500</span></p>
      <textarea name="explanation" required>{{ object.explanation }}</textarea>
    </div>

    <div>
      <p>位置情報 <span class="requirement">必須</p>
      <div class="address"><img src="{% static 'myvieal/img/pin.svg' %}" alt=""><input name="name" id="pac-input" placeholder="スポット" required value="{{ object.name }}"></div>
      <input name="place_id" id="place_id" hidden required value="{{ object.place_id }}">
      <input name="address" id="address" hidden required value="{{ object.address}}">
    </div>

    <button type="submit" class="btn btn-primary">保存</button>
  </form>
</main>
<script src="{% static 'myvieal/js/edit.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqp7gtBAc-qtH5vUI5wxTPSIo5D89IMN0&callback=initMap&libraries=places&v=weekly" async defer></script>
{% endblock %}

{% block footer %}
{% endblock %}
