{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'myvieal/css/entrance.css' %}">
  {% block style %}{% endblock style %}
</head>
<body>
  <header>
    <h3>Myvieal</h3>
    <h2>{% block header %}ようこそ！{% endblock header %}</h2>
  </header>
  <main>
    {% block main %}
    <div class="menu">
      <a href="{% url 'account_login' %}"><div>ログイン</div></a>
      <a href="{% url 'account_signup' %}"><div>アカウント作成</div></a>
    </div>
    {% endblock main %}
  </main>
  {% block footer %}
  <footer>
    <div>
      <p><a href="{% url "privacy_policy" %}">利用規約</a>・<a href="{% url "term_of_use" %}">プライバシーポリシー</a></p>
    </div>
  </footer>
  {% endblock footer %}
</body>
</html>
