{% extends "myvieal/base.html" %}
{% load static %}
{% load myvieal_extras %}
{% block extra-style %}
  <link rel="stylesheet" href="{% static 'myvieal/css/top.css' %}">
  <link rel="stylesheet" href="{% static 'myvieal/css/search.css' %}">
{% endblock %}
{% block header-container %}
<div class="search-bar-container">
  <form method="get">
    <a class="search-text-link" href="{% url "search_history" %}">
      <input id ="search-bar" class="top" type="text" name="search" value="{{search_text}}" placeholder="動画を検索" readonly>
    </a>
  </form>
</div>
{% endblock %}
{% block content %}
<div class="orders">
  <a href="{% url 'search' %}" class="movie-search">動画</a>
  <a href="{% url 'MapHistory' %}">スポット</a>
  <a href="">タグ</a>
</div>
<form class="query-button-container" method="get" action="/search/">
  <button class="query-button word_search" type="submit" disabled>関連度順</button>
  <button class="query-button created_at" type="submit" name="display_order" value="created_at">新着の動画</button>
  <button class="query-button number_of_views" type="submit" name="display_order" value="number_of_views">人気の動画</button>
</form>
<main>
  {% for movie in movies %}

  <a href="{% url 'MovieDetail' movie.pk %}" class="list">
    {% if movie.thumbnail %}
    <div class="thumbnail"><img src="{{ movie.thumbnail.url }}" alt=""></div>
    {% else %}
    <div class="thumbnail"><video src="{{ movie.movie_file.url }}" type="video/mp4"></video></div>
    {% endif %}

    <div class="icon"><img src="{{ movie.created_by.icon_image.url }}" alt="" data-url="{% url 'Profile' movie.created_by.pk %}"></div>
    <div class="title">{{ movie.title }}</div>
    <div class="information">{{ movie.created_by.username }}・{{ movie.number_of_views }}回視聴・{{ movie.created_at|timesince|upto:',' }}前</div>
  </a>
  {% endfor %}
</main>
<script>
const icons = document.querySelectorAll('.icon img');
icons.forEach(icon => {
  icon.addEventListener('click', e => {
  e.stopPropagation();
  e.preventDefault();
  location.href=icon.dataset.url;
  })
})
{% if search_text %}
document.querySelector(".query-button.word_search").classList.add("target")
{% else %}
document.querySelector(".query-button.word_search").style.display="none"
{% endif %}
{% if is_searched_by_created_at %}
  document.querySelector(".query-button.created_at").classList.add("target")
{% endif %}
{% if is_searched_by_numbers_of_views %}
  document.querySelector(".query-button.number_of_views").classList.add("target")
{% endif %}
</script>
{% endblock content %}
{% block footer-item__icon--search %}
<img src={% static "myvieal/img/search_fill.svg" %} alt="">
{% endblock  %}
