<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% load static %}">
  <link rel="stylesheet" href="{% static 'myvieal/css/top.css' %}">
  <title>Document</title>
</head>
<body>
  <header></header>
  <main>
    {% for movie in movies %}
    <a href="{% url 'MovieDetail' movie.pk %}" class="list">
      <div class="thumbnail"><img src="{{ movie.thumbnail.url }}" alt=""></div>
      <div class="icon"></div>
      <div class="title">{{ movie.title|truncatechars:30 }}</div>
      <div class="information">{{ movie.created_by.username }}・{{ movie.number_of_views }}回視聴・{{ movie.created_at|timesince }} ago</div>
    </a>
    {% endfor %}
  </main>
  <footer></footer>
</body>
</html>
