{% extends "myvieal/base.html" %}
{% load static %}

{% block extra-style %}
  <link rel="stylesheet" href="{% static 'myvieal/css/top.css' %}">
{% endblock %}

{% block header-container %}
  <a href="{% url 'top' %}" class="top">Myvieal</a>
  <a href="{% url 'MovieCreate' %}" class="edit">+</a>
{% endblock %}

{% block content %}
  <main>
    {% for movie in movies %}

    <a href="{% url 'MovieDetail' movie.pk %}" class="list">
      {% if movie.thumbnail %}
      <div class="thumbnail"><img src="{{ movie.thumbnail.url }}" alt=""></div>
      {% else %}
      <div class="thumbnail"><video src="{{ movie.movie_file.url }}" type="video/mp4"></video></div>
      {% endif %}

      <div class="icon"><img src="{{ movie.created_by.icon_image.url }}" alt=""></div>
      <div class="title">{{ movie.title|truncatechars:30 }}</div>
      <div class="information">{{ movie.created_by.username }}・{{ movie.number_of_views }}回視聴・{{ movie.created_at|timesince }} ago</div>
    </a>
    {% endfor %}
  </main>
{% endblock %}
