/* 全体 */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

:root {
  --main-green: #2b8f38;
}

html {
  font-size: 16px;
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0;
}

/* ここまで全体 */

/* header */
.header {
  width: 100vw;
  height: 48px;
}

.header-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 48px;
  background-color: var(--main-green);
  color: #fff;
  font-size: 15px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-container__title {
  margin: auto 12px;

  font-family: Futura, "Noto Sans JP", Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.header-container__new-video {
  position: absolute;
  left: 90%;
}

/* ここまで header */

/* body */
/* ここまで body */

/* footer */
.footer {
  width: 100vw;
  height: 64px;
}

.footer-container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  text-align: center;
  background-color: var(--main-green);
}

.footer-container__item {
  display: flex;
  position: relative;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
}

.footer-item__link {
  width: 90%;
  height: 100%;
  margin: auto;
  text-decoration: none;
}

.footer-item__icon {
  display: block;
  line-height: 1.2rem;
}

.footer-item__text {
  display: block;
  line-height: 0.8rem;
  font-size: 0.8rem;
  color: white;
}

/* ここまで　footer */
