/* 全体 */
html,
body {
  overflow-x: hidden;
}

/* ここまで全体 */

/* header */
.top {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  position: absolute;
  left: 5%;
}

h3 {
  position: absolute;
  left: 15%;
  font-size: 20px;
}

.post {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  position: absolute;
  left: 85%;
}

.btn--just-text {
  background: none;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  position: absolute;
  left: 85%;
}

/* ここまで header */

/* body */
form > div:not(.thumbnail) {
  padding: 10px 10px 20px;
  border-bottom: 1px solid grey;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.thumbnail-preview {
  width: 100%;
  object-fit: cover;
  position: relative;
}

.icon-container {
  z-index: 2;
  display: grid;
  place-content: center;
  position: absolute;
  top: 60px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.fa-image {
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
}

.movie-select,
.thumbnail-select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  font-size: 15px;
  color: #2b8f38;
  border-radius: 20px;
  border: 1px solid #2b8f38;
  cursor: pointer;
}

.requirement {
  color: red;
  font-size: 12px;
}

.video-preview {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 20px;
}

.title p,
.explanation p {
  position: relative;
}

.title-length,
.explanation-length {
  position: absolute;
  right: 0%;
}

.address {
  display: flex;
  text-align: center;
}

textarea,
input {
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.btn {
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 38px;
  font-size: 15px;
  color: #2b8f38;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #2b8f38;
  cursor: pointer;
}

.movie-select:hover,
.thumbnail-select:hover,
.btn:hover {
  color: #fff;
  background-color: #2b8f38;
}

.video-preview-container {
  position: relative;
  width: 150px;
}

.video-preview__delete-btn {
  position: absolute;
  top: 6px;
  right: 6px;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;

  font-size: 25px;
}

.video-preview__duration {
  position: absolute;
  right: 6px;
  bottom: 6px;
  width: 40px;
  height: 20px;
  border-radius: 5px;

  background: rgba(0, 0, 0, 0.6);
  color: white;

  text-align: center;
  font-size: 0.8rem;
}

.extra_293 {
  display: none;
}

/* ここからタグ機能 */
.tag input {
  display: none;
}

.tag_input_text {
  display: block;
  margin: 0;
  padding: 0;
  color: #999;
}

.tag_input_text.added {
  color: #000;
}

.tag_select_wrapper {
  z-index: 10;
}

.tag_input {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.genre_list,
.tag_list {
  display: none;
  height: 10em;
  overflow-y: scroll;
}

.genre_list.active,
.tag_list.active {
  display: block;
  padding: 8px;
  position: absolute;
  top: 24px;
  left: 16px;
  background-color: #fff;
  box-shadow: 2px 2px 2px black;
  border: 1px solid #000;
  border-radius: 8px;
}

.tag_list.active {
  top: 24px;
  left: 128px;
}

.genre_list p.display {
  margin: 0;
}

.genre_list p:hover,
.tag_list p:hover {
  background-color: #d0efd4;
}

.genre_list p.active {
  background-color: #8ad894;
}

.tag_list p {
  margin: 0;
}

.tag_create_button {
  cursor: pointer;
}

#button_container {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  border-bottom: none;
}

.cancel_button {
  cursor: pointer;
}

.tag_container {
  display: flex;
  justify-content: space-between;
}

/* ここまでタグ機能 */

/* ここまで body */
