/* 全体 */
html,
body {
  overflow-x: hidden;
}

/* ここまで全体 */

/* header */
/* ここまで header */

/* body */
body {
  margin: 0;
}


.container {
  width: 100vw;
}

video {
  width: 100%;
}

.overview {
  padding: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.information {
  color: #9b9b9b;
  margin-bottom: 5px;
}

.address-information {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.creater,
.creater2 {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #9b9b9b;
  text-decoration: none;
  color: inherit;
}

.creater2 {
  padding-bottom: 25px;
  border-bottom: none;
}

.creater div {
  display: grid;
  place-items: center;
}

.creater2 .icon {
  display: grid;
}

.icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.description {
  padding-top: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.description.expanded {
  -webkit-line-clamp: unset;
  overflow: visible;
}

.detail {
  cursor: pointer;
  display: inline;
}

.send_section,
.comment_section {
  padding: 10px;
}

.send_section {
  padding-bottom: 0;
}

.comment_form {
  flex: 1;
  display: flex;
  align-items: baseline;
}

.comment-input {
  -webkit-appearance: none;
}

#id_content,
.reply_form {
  flex: 1;
  align-self: center;
  resize: none;
  height: 20px;
  font-size: 16px;
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  border: none;
  border-bottom: #9b9b9b 1px solid;
}

#id_content:focus,
.reply_form:focus {
  outline: none;
  border: none;
  border-bottom: #9b9b9b 1px solid;
}

.comment_form button {
  align-self: flex-end;
  border: none;
  background-color: #ffffff;
  padding-bottom: 10px;
}

.comment_container {
  position: relative;
  flex: 1;
  justify-content: flex-start;
  align-content: center;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.description2 {
  padding-top: 0;
}

.detail2 {
  font-size: small;
}

.commented_at {
  position: absolute;
  right: 0.4%;
  bottom: -20px;
  color: #9b9b9b;
  font-size: small;
}

.creater-container {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #9b9b9b;
}

.follow-btn {
  width: 6rem;
  height: 2.5rem;
  /* border-radiusは大きくするとトラックみたいな長方形を半円で挟む形になる */
  border-radius: 9999px;
  border: 0;

  color: white;
  background-color: var(--main-green);
}

.follow-btn--following {
  border: 1px solid var(--main-green);
  color: var(--main-green);
  background-color: white;
}

.favorite-container {
  display: flex;
  margin: 10px 0;
}

.favorite-btn {
  border: none;
  background: none;
}

.invisible_reply {
  visibility: hidden;
  height: 0;
  padding: 0;
}

.invisible_form {
  display: none;
}

.reply_form_class {
  padding: 5px 0;
}

.extra_293 {
  border-bottom: none;
}

.extra_294 {
  align-items: baseline !important;
}

.extra_295 {
  transform: translateY(-8px);
  margin-bottom: -8px;
}

.extra_296 {
  padding-bottom: 15px;
  transform: translateX(0.5em);
}

.extra_297 {
  color: #2b8f38;
}

.extra_298 {
  padding-bottom: 21.5px;
}

.extra_299 {
  width: 42px !important;
  height: 42px !important;
  transform: translateX(4px);
}

.extra_300 {
  font-size: 86%;
}

.extra_301 {
  font-size: 86%;
  right: 0.344%;
  bottom: -1.8em;
}

/* ここまで body */
