/* 全体 */
html,
body {
  overflow-x: hidden;
}

/* ここまで全体 */

/* header */
/* ここまで header */

/* body */
body {
  margin: 0;
}

.container {
  width: 100vw;
}

video {
  width: 100%;
}

.overview {
  padding: 10px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.information {
  color: #9b9b9b;
  margin-bottom: 5px;
}

.creater,
.creater2 {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #9b9b9b;
  text-decoration: none;
  color: inherit;
}

.creater2 {
  padding-bottom: 25px;
  border-bottom: none;
}

.creater div {
  display: grid;
  place-items: center;
}

.creater2 .icon {
  display: grid;
}

.icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.description {
  padding-top: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.description.expanded {
  -webkit-line-clamp: unset;
  overflow: visible;
}

.detail {
  cursor: pointer;
  display: inline;
}

.send_section,
.comment_section {
  padding: 10px;
}

.send_section {
  padding-bottom: 0;
}

.comment_form {
  flex: 1;
  display: flex;
  align-items: baseline;
}

#id_content {
  flex: 1;
  align-self: center;
  resize: none;
  height: 20px;
  font-size: 16px;
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  border: none;
  border-bottom: #9b9b9b 1px solid;
}

#id_content:focus {
  outline: none;
  border: none;
  border-bottom: #9b9b9b 1px solid;
}

.comment_form button {
  border: none;
  background-color: #ffffff;
  padding-top: 10px;
}

.comment_container {
  position: relative;
  flex: 1;
  justify-content: flex-start;
  align-content: center;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.description2 {
  padding-top: 0;
}

.detail2 {
  font-size: small;
}

.commented_at {
  position: absolute;
  right: 0.4%;
  bottom: -20px;
  color: #9b9b9b;
  font-size: small;
}

/* ここまで body */
