.search-bar-container {
  flex: 1 1 0;
  height: 100%;
}

.back_button_container {
  flex: 0.1 1 0;
  text-align: center;
}

.search-bar-container > form {
  height: 100%;
}

.search-bar-container.history > form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-text-link {
  height: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: default;
}

#search-bar {
  background-color: transparent;
  border: 1px solid white;
  width: 90%;
  height: 70%;
  border-radius: 36px;
  color: white;
  padding-left: 1em;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: gainsboro;
  font-size: 12px;
}

#search-bar.top {
  cursor: default;
}

#search-bar.history {
  width: 100%;
  margin-right: 2%;
}

#search-bar::placeholder {
  color: gainsboro;
}

.cancel-button {
  position: absolute;
  top: 50%;
  right: calc(
    2% + 1em
  ); /* 入力エリアの右端が2%で指定されているため、そこからさらに1emだけ左の位置を指定する。 */
  transform: translateY(-50%);
  z-index: 1; /* z-indexが規定値のままだとそもそもクリックできないので、イベントを起こせなかった。 */
}

.orders {
  display: flex;
  width: 100vw;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.orders a:not(.movie-search) {
  flex: 1;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: inherit;
}

.movie-search {
  text-decoration: underline solid #2b8f38;
  flex: 1;
  display: grid;
  place-items: center;
  color: inherit;
}

.query-button-container {
  margin: 0.7em 0.7em;
}

.query-button {
  width: 8em;
  height: 2.5em;
  border-radius: 16px;
  background-color: white;
}

.query-button.target {
  background-color: black;
  color: white;
}

.history-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 1em;
  color: black;
}

.history-container img {
  margin-right: 0.5em;
}
