{% extends "myvieal/base.html" %}
{% load static %}

{% block extra-style %}
  <link rel="stylesheet" href="{% static 'accounts/css/password_change.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/css/email_change.css' %}">
{% endblock %}

{% block header-container %}
  <a href="{% url 'UserSetting' %}" class="top"><img src="{% static 'myvieal/img/arrow.svg' %}" alt=""></a>
  <h3>メールアドレスの変更</h3>
{% endblock %}

{% block content %}
<main>
  <div class="error_container extra_293">アカウントのメールアドレス</div>
  <div class="error_container extra_294">{{ email }}</div>
  <form method="post" id="form_js">
    {% csrf_token %}
    <div class="form-group">
      {% for field in form %}
      <div class="form">
        {{ field }}
      </div>
      {% endfor %}
    </div>
    <div class="error_container">
      {% for field in form %}
      {{ field.errors }}
      {% endfor %}
      {{ form.non_field_errors }}
    </div>
    <button type="submit" class="submit" id="submit_js"><div>認証コードを送信</div></button>
    <a href="{% url 'UserSetting' %}" class="cancel"><p>キャンセル</p></a>
  </form>
</main>
{% endblock %}

{% block footer %}
<script src="{% static 'accounts/js/prevent_multiple_submission.js' %}"></script>
{% endblock %}
