{% extends "./base_profile.html" %}
{% load static %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/profile_others.css' %}">
{% endblock extra-style %}


{% block setting %}{% endblock setting %}

{% block profile-extra-content %}
  {% if is_following %}
  <button type="button" class="follow-btn follow-btn--following">フォロー中</button>
  {% else %}
  <button type="button" class="follow-btn">フォロー</button>
  {% endif %}

</form>

{% endblock profile-extra-content %}

{% block movie-edit %}{% endblock movie-edit %}


{% block extra-content %}
{% endblock extra-content %}

{% block extra-js %}
<script>
  const url = "{% url "follow_button" %}";
  const target_user_pk = "{{ user.pk }}";
</script>
<script src="{% static 'accounts/js/profile_others.js' %}"></script>
{% endblock extra-js %}
