{% extends "myvieal/base.html" %}
{% load static %}

{% block extra-style %}
  <link rel="stylesheet" href="{% static 'accounts/css/setting.css' %}">
{% endblock %}

{% block header-container %}
  <a href="{% url 'Profile' user.pk %}" class="top">×</a>
  <h3>設定</h3>
{% endblock %}

{% block content %}
<main>
  <div class="setting">
    <p class="green">アカウントの設定</p>
    <a href=""><img src="{% static 'myvieal/img/envelope.svg' %}" alt="">メールアドレスの変更</a>
    <a href="{% url 'PasswordChange' %}"><img src="{% static 'myvieal/img/password.svg' %}" alt="">パスワードの変更</a>
  </div>
  <div class="guidance">
    <p><a href="">利用規約</a>・<a href="">プライバシーポリシー</a></p>
    <form method="POST" action="{% url "account_logout" %}">
      {% csrf_token %}
      <button type="submit" style="all: unset;"><div href="" class="green">ログアウト</div></button>
    </form>
    <p>アカウントの削除は <a href="" class="green">こちら</a></p>
  </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}
