.extra_293 {
  margin-top: 100px;
}

.extra_294 {
  font-size: small;
}

.extra_295 {
  color: #2b8f38;
}

.extra_296 {
  border: none;
  background-color: white;
  margin: 0 auto;
  display: block;
  font-size: 16px;
}

.extra_297 {
  font-size: 16px;
  font-family: Noto Sans JP, Arial, Helvetica, sans-serif;
  margin: 0 auto;
}